@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --black-colo:#343434;
    --gray-color :#8E8E8E;
    
}

.bg-blacks{
  background-color: var(--black-color)!important;
}
.text-black{
    color:var(--black)!important
}

/* Hide scrollbar while maintaining scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Hide scrollbar but allow scroll */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


